{% extends 'base.html' %}
{% load static %}
{% block content %}

</div>
<!-- header section end  -->
<!-- about section start -->
<div class="layout_padding about_section ">
  <div class="container">
    <h1 class="about_taital">About <span style="background-color: #725917; color: #fff; padding: 0px 5px;">Us</span>
    </h1>
    <p class="market_text"></p>
    <div class="about_bg">
      <div class="row">
        <div class="col-md-6" style="color: antiquewhite;text-align: justify;font-size: 0.8rem;">
          <p>An accent chair, can be an extra place to sit but it can be much more. It is a way
            to reveal a color of your personality, arouse curiosity and why not envy. Clever eclectic mixes are popular
            in a warm decor.
          </p>
          <p>Each chair is unique, it is created in our workshop. The choice of fabrics, the solidity of the chairs, its
            originality, its playful and artistic aspect are essential elements for us.
          </p>
          <p>A second life is given to beautiful old chairs. They are covered with whimsical and original fabrics. The
            backs of some chairs are hand painted by our artist Joanne.
          </p>
          <p>
            <h3 style="padding: 0px 0px 0px 14px;">WHO ARE WE?</h3>
          </p>
           <p>We are two sisters, Johanne and Martine, passionate about original and heterogeneous decor
            arrangements. During the pandemic, we were looking for a project to combine our experience, our originality
            and our talents. The idea of ​​creating unique accent chairs that become distinctive decorative objects that
            you love at first glance has become our creative goal.
            We fall in love with every chair.
          </p>
         
          <p  style="color: antiquewhite;text-align: justify;font-size: 1rem;">
            For us, this is the guarantee that you will like them.
  
          </p>

          <!-- <button class="about_bt">ABOUT MORE</button> -->
        </div>
        
        <div class="col-md-6">
          <div class="table_img "><img class="img-fluid img-thumbnail " src="{% static 'images/about3.jpg' %}"></div>
          <br>


         
        </div>
       
      </div>
    </div>
  </div>
</div>

<!-- about section end -->
{% endblock content %}