{% load static %}

	<!-- footer section start -->
	<div class="footer_section layout_padding">
		<div class="container">
			<div class="row">


				<div class="col-md-12">
					<div class="useful_main border_right0">
						<h2 class="useful_text">Explore</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/about">About </a></li>
							<li><a href="/company">Company</a></li>
							<li><a href="/products">Products</a></li>
							<li><a href="/contact">Contact Us</a></li>
						</ul>





					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-6 text-center">
					<h2 class="useful_text">Address</h2>
					<ul class="location">
						<li><img src="{% static 'images/map-icon.png' %}">Locations</li>

						<li><img src="{% static 'images/call-icon.png' %}"><a href="#">+1 (514) 983-6913</a></li>
						<li><img src="{% static 'images/call-icon.png' %}"><a href="#">+1 (514) 887-2234</a></li>
						<li><img src="{% static 'images/email-icon.png' %}"><a href="#">creationschaisart@gmail.com</a></li>

					</ul>


				</div>
				<!-- <div class="col-lg-6 col-md-6 col-sm-6 ">
					<h2 class="useful_text">Newsletter</h2>
					<div class="form-group">
						<input type="text" class="address_send" placeholder="Address" name="Email">
						<button class="subscribe_bt">Subscribe</button>
					</div>
				</div> -->
			</div>
		</div>
	</div>
	<!-- footer section end -->
	<!-- copyright section start -->
	<div class="copyright">
		<div class="container">
			<p class="copyright_text">Copyright 2019 All Right Reserved By.<a href="https://html.design">
                Chaisart creations
					</p>
		</div>
	</div>
	<!-- copyright section end -->

	