
{% load static %}
{% load i18n %}
<div class="container-fluid">
    <nav class="row">
        <div class="col-sm-12 col-lg-5 logo-head">
            <h1 class="logo"><a href="/" class="navbar-brand h1">Chaisart creations</a></h1>
        </div>

        <div class="col-sm-5 col-lg-7">
            <div class="menu-area">
                <nav class="navbar navbar-expand-lg ">
                    <!-- <a class="navbar-brand" href="#">Menu</a> -->
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto mt-3">
                            <li class="nav-item active pl-4">
                                <a class="nav-link active" href="/">Home<span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item pl-4">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                            <!-- <li class="nav-item pl-4">
                                <a class="nav-link" href="#">Company</a>
                            </li> -->
                            <li class="nav-item pl-4" href="#">
                                <a class="nav-link" href="/products">Products</a>
                            </li>
                            <li class="nav-item pl-4" href="#">
                                <a class="nav-link" href="/contact">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <!-- <div class="col-sm-8 col-lg-4">
            <div class="togle_3">
                <div class="left_main">
                    <div class="menu_main">
                        <a href="#"><i class="fa fa-fw fa-user"></i> Login / Register</a>
                    </div>
                </div>
                <div class="middle_main">
                    <div class="shoping_bag"><img src="{% static 'images/search-icon.png' %}"></div>
                </div>
                <div class="right_main">
                    <div class="togle_main"><img src="{% static 'images/shopping-bag.png' %}"></div>
                </div>
            </div>
        </div> -->

        <!-- <div class="col-lg-3 col-md-6 search-right">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
        </div> -->

    </nav>
</div>